# Network RPC URLs
RPC_TEST=http://127.0.0.1:1234/rpc/v1
RPC_CALIBNET=https://api.calibration.node.glif.io/rpc/v1
RPC_MAINNET=https://api.node.glif.io/rpc/v1

# Private keys
PRIVATE_KEY_TEST=<your_private_key>
PRIVATE_KEY_CALIBNET=<your_private_key>
PRIVATE_KEY_MAINNET=<your_private_key>

FILECOIN_PAY=<filecoin_pay_address>
ALLOCATOR=<llocator_address>
SP_REGISTRY=<sp_registry_address>
TERMINATION_ORACLE=<termination_oracle_address>
ORACLE=<oracle_address>
META_ALLOCATOR=<metaallocator_address>

# Upgradeable contract envs
UPGRADE_CONTRACT_NAME=Client
UPGRADE_CALLDATA=0x

