# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/*
!docs/specs/
!docs/specs/**

# Dotenv file
.env

lcov.info
report/

# Worktrees
.worktrees/
.worktree-links
